{% extends "layout.html" %}
{% block content %}

<p>Thanks to D.J. Rasmussen and Robert Kopp for sharing their results!</p>

<p>This tool has been created by Peter Pfleiderer (peter.pfleiderer@climateanalytics.org).</p>

<p>The work leading to this application has received funding from the International Climate Initiative (IKI) of the Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU) under the project IMPACT (Science based implementation of 1.5 °C compatible climate action for LDC and SIDS) implemented by Climate Analytics and its partners Charles & Associates Inc. (Grenada), the Caribbean Community Climate Change Centre (CCCCC), the Secretariat of the Pacific Regional Environment Programme (SPREP) and the Potsdam Institute for Climate Impact Research (PIK).
</p>
{% endblock %}
